workspace/ws-codefac/src/wsdl/www.cf.codesoft-ec.com/index.php/mysoapserver.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.cf.codesoft-ec.com/mysoapserver" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.cf.codesoft-ec.com/mysoapserver">
<types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cf.codesoft-ec.com/mysoapserver"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="addnumbersRequestType">
  <xsd:all>
   <xsd:element name="a" type="xsd:string"/>
   <xsd:element name="b" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="addnumbersResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="actualizarlicenciaRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
   <xsd:element name="licencia" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="actualizarlicenciaResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="comprobarRequestType">
  <xsd:all>
   <xsd:element name="u" type="xsd:string"/>
   <xsd:element name="c" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="comprobarResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="obtenerlicenciaRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="obtenerlicenciaResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="devolverlicenciaRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="devolverlicenciaResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="actualizartipolicenciaRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
   <xsd:element name="tipo" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="actualizartipolicenciaResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="numaquinasRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="numaquinasResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmoduloiRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmoduloiResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmoduloaRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmoduloaResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmodulofRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmodulofResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmodulocRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="verificarmodulocResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="estadousuarioRequestType">
  <xsd:all>
   <xsd:element name="email" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="estadousuarioResponseType">
  <xsd:all>
   <xsd:element name="return" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:element name="addnumbers" type="tns:addnumbersRequestType"/>
 <xsd:element name="addnumbersResponse" type="tns:addnumbersResponseType"/>
 <xsd:element name="actualizarlicencia" type="tns:actualizarlicenciaRequestType"/>
 <xsd:element name="actualizarlicenciaResponse" type="tns:actualizarlicenciaResponseType"/>
 <xsd:element name="comprobar" type="tns:comprobarRequestType"/>
 <xsd:element name="comprobarResponse" type="tns:comprobarResponseType"/>
 <xsd:element name="obtenerlicencia" type="tns:obtenerlicenciaRequestType"/>
 <xsd:element name="obtenerlicenciaResponse" type="tns:obtenerlicenciaResponseType"/>
 <xsd:element name="devolverlicencia" type="tns:devolverlicenciaRequestType"/>
 <xsd:element name="devolverlicenciaResponse" type="tns:devolverlicenciaResponseType"/>
 <xsd:element name="actualizartipolicencia" type="tns:actualizartipolicenciaRequestType"/>
 <xsd:element name="actualizartipolicenciaResponse" type="tns:actualizartipolicenciaResponseType"/>
 <xsd:element name="numaquinas" type="tns:numaquinasRequestType"/>
 <xsd:element name="numaquinasResponse" type="tns:numaquinasResponseType"/>
 <xsd:element name="verificarmoduloi" type="tns:verificarmoduloiRequestType"/>
 <xsd:element name="verificarmoduloiResponse" type="tns:verificarmoduloiResponseType"/>
 <xsd:element name="verificarmoduloa" type="tns:verificarmoduloaRequestType"/>
 <xsd:element name="verificarmoduloaResponse" type="tns:verificarmoduloaResponseType"/>
 <xsd:element name="verificarmodulof" type="tns:verificarmodulofRequestType"/>
 <xsd:element name="verificarmodulofResponse" type="tns:verificarmodulofResponseType"/>
 <xsd:element name="verificarmoduloc" type="tns:verificarmodulocRequestType"/>
 <xsd:element name="verificarmodulocResponse" type="tns:verificarmodulocResponseType"/>
 <xsd:element name="estadousuario" type="tns:estadousuarioRequestType"/>
 <xsd:element name="estadousuarioResponse" type="tns:estadousuarioResponseType"/>
</xsd:schema>
</types>
<message name="addnumbersRequest">
  <part name="parameters" element="tns:addnumbers" /></message>
<message name="addnumbersResponse">
  <part name="parameters" element="tns:addnumbersResponse" /></message>
<message name="actualizarlicenciaRequest">
  <part name="parameters" element="tns:actualizarlicencia" /></message>
<message name="actualizarlicenciaResponse">
  <part name="parameters" element="tns:actualizarlicenciaResponse" /></message>
<message name="comprobarRequest">
  <part name="parameters" element="tns:comprobar" /></message>
<message name="comprobarResponse">
  <part name="parameters" element="tns:comprobarResponse" /></message>
<message name="obtenerlicenciaRequest">
  <part name="parameters" element="tns:obtenerlicencia" /></message>
<message name="obtenerlicenciaResponse">
  <part name="parameters" element="tns:obtenerlicenciaResponse" /></message>
<message name="devolverlicenciaRequest">
  <part name="parameters" element="tns:devolverlicencia" /></message>
<message name="devolverlicenciaResponse">
  <part name="parameters" element="tns:devolverlicenciaResponse" /></message>
<message name="actualizartipolicenciaRequest">
  <part name="parameters" element="tns:actualizartipolicencia" /></message>
<message name="actualizartipolicenciaResponse">
  <part name="parameters" element="tns:actualizartipolicenciaResponse" /></message>
<message name="numaquinasRequest">
  <part name="parameters" element="tns:numaquinas" /></message>
<message name="numaquinasResponse">
  <part name="parameters" element="tns:numaquinasResponse" /></message>
<message name="verificarmoduloiRequest">
  <part name="parameters" element="tns:verificarmoduloi" /></message>
<message name="verificarmoduloiResponse">
  <part name="parameters" element="tns:verificarmoduloiResponse" /></message>
<message name="verificarmoduloaRequest">
  <part name="parameters" element="tns:verificarmoduloa" /></message>
<message name="verificarmoduloaResponse">
  <part name="parameters" element="tns:verificarmoduloaResponse" /></message>
<message name="verificarmodulofRequest">
  <part name="parameters" element="tns:verificarmodulof" /></message>
<message name="verificarmodulofResponse">
  <part name="parameters" element="tns:verificarmodulofResponse" /></message>
<message name="verificarmodulocRequest">
  <part name="parameters" element="tns:verificarmoduloc" /></message>
<message name="verificarmodulocResponse">
  <part name="parameters" element="tns:verificarmodulocResponse" /></message>
<message name="estadousuarioRequest">
  <part name="parameters" element="tns:estadousuario" /></message>
<message name="estadousuarioResponse">
  <part name="parameters" element="tns:estadousuarioResponse" /></message>
<portType name="SOAPServerPortType">
  <operation name="addnumbers">
    <documentation>Addition Of Two Numbers</documentation>
    <input message="tns:addnumbersRequest"/>
    <output message="tns:addnumbersResponse"/>
  </operation>
  <operation name="actualizarlicencia">
    <documentation>Actualizar Licencia Codefac</documentation>
    <input message="tns:actualizarlicenciaRequest"/>
    <output message="tns:actualizarlicenciaResponse"/>
  </operation>
  <operation name="comprobar">
    <documentation>Comprobar Usuario</documentation>
    <input message="tns:comprobarRequest"/>
    <output message="tns:comprobarResponse"/>
  </operation>
  <operation name="obtenerlicencia">
    <documentation>Obtener Licencia</documentation>
    <input message="tns:obtenerlicenciaRequest"/>
    <output message="tns:obtenerlicenciaResponse"/>
  </operation>
  <operation name="devolverlicencia">
    <documentation>Devolver Licencia</documentation>
    <input message="tns:devolverlicenciaRequest"/>
    <output message="tns:devolverlicenciaResponse"/>
  </operation>
  <operation name="actualizartipolicencia">
    <documentation>Actualizar Tipo Licencia</documentation>
    <input message="tns:actualizartipolicenciaRequest"/>
    <output message="tns:actualizartipolicenciaResponse"/>
  </operation>
  <operation name="numaquinas">
    <documentation>Devolver cantidad de maquinas</documentation>
    <input message="tns:numaquinasRequest"/>
    <output message="tns:numaquinasResponse"/>
  </operation>
  <operation name="verificarmoduloi">
    <documentation>Modulo inventario verificar</documentation>
    <input message="tns:verificarmoduloiRequest"/>
    <output message="tns:verificarmoduloiResponse"/>
  </operation>
  <operation name="verificarmoduloa">
    <documentation>Modulo academico verificar</documentation>
    <input message="tns:verificarmoduloaRequest"/>
    <output message="tns:verificarmoduloaResponse"/>
  </operation>
  <operation name="verificarmodulof">
    <documentation>Modulo facturacion verificar</documentation>
    <input message="tns:verificarmodulofRequest"/>
    <output message="tns:verificarmodulofResponse"/>
  </operation>
  <operation name="verificarmoduloc">
    <documentation>Modulo CRM verificar</documentation>
    <input message="tns:verificarmodulocRequest"/>
    <output message="tns:verificarmodulocResponse"/>
  </operation>
  <operation name="estadousuario">
    <documentation>Verificar estado</documentation>
    <input message="tns:estadousuarioRequest"/>
    <output message="tns:estadousuarioResponse"/>
  </operation>
</portType>
<binding name="SOAPServerBinding" type="tns:SOAPServerPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="addnumbers">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/addnumbers" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="actualizarlicencia">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/actualizarlicencia" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="comprobar">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/comprobar" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="obtenerlicencia">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/obtenerlicencia" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="devolverlicencia">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/devolverlicencia" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="actualizartipolicencia">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/actualizartipolicencia" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="numaquinas">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/numaquinas" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="verificarmoduloi">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/verificarmoduloi" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="verificarmoduloa">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/verificarmoduloa" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="verificarmodulof">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/verificarmodulof" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="verificarmoduloc">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/verificarmoduloc" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
  <operation name="estadousuario">
    <soap:operation soapAction="urn:http://www.cf.codesoft-ec.com/mysoapserver/estadousuario" style="document"/>
    <input><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></input>
    <output><soap:body use="literal" namespace="urn:SOAPServerWSDL"/></output>
  </operation>
</binding>
<service name="SOAPServer">
  <port name="SOAPServerPort" binding="tns:SOAPServerBinding">
    <soap:address location="http://www.cf.codesoft-ec.com/index.php/mysoapserver"/>
  </port>
</service>
</definitions>